/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  /*Primary Brand*/
  --iris: #4d5ae5;
  /*Pressed state*/
  --ocean: #404bbf;
  /*Dark*/
  --navyblue: #2e2f42;
  /*Success*/
  --green: #31d0aa;
  /*Text */
  --slate: #434455;
  /*Subtle Text*/
  --lightslate: #8e8f99;
  /*Accent*/
  --cornflower: #e7e9fc;
  /*Light*/
  --cloud: #f4f4fd;
  /*Modal overlay*/
  --navybluemodal: #2e2f4266;
  /*Hero background*/
  --grey: #2e2f42b2;
  /*White background */
  --white: #ffffff;
  /*Modal background */
  --dairy: #fcfcfc;
  --additional-font: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  /*
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  */
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.footer {
  /*
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  */
  color: var(--cloud, #f4f4fd);
  background: var(--navyblue, #2e2f42);
}
