:root {
  --logo-color-main: #4d5ae5;
  --logo-color-first: #2e2f42;
  --logo-color-second: #f4f4fd;
  --bg-color-main: #ffffff;
  --bg-color-first: #2e2f42;
  --bg-color-second: #f4f4fd;
  --link-color-active: #404bbf;
  --font-logo: "Raleway", sans-serif;
  --font-main: "Roboto", sans-serif;
  --font-color-first: #2e2f42;
  --font-color-second: #434455;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color-main);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logo {
  font-size: 18px;
  font-family: var(--font-logo);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-begin {
  color: var(--logo-color-main);
}
.logo-end-header {
  color: var(--logo-color-first);
}
.logo-end-footer {
  color: var(--logo-color-second);
}

/*======= header begin =======*/
.head {
  background-color: var(--bg-color-main);
}
.head-nav-item {
  color: var(--font-color-first);
  font-weight: 500;
}
.head-address-item {
  color: var(--font-color-second);
  font-style: normal;
  font-weight: 400;
}
.head-nav-item:active,
.head-address-email:active {
  color: var(--link-color-active);
}
/* ========header end========== */

/*========= main begin ========*/
.hero {
  background-color: var(--bg-color-first);
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero-button {
  color: #ffffff;
  background-color: var(--logo-color-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.hero-button:active {
  background-color: var(--link-color-active);
}

.section-title {
  color: var(--font-color-first);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.item-title {
  color: var(--font-color-first);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.item-text {
  color: var(--font-color-second);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.filter-btn {
  background-color: var(--bg-color-second);
  color: var(--logo-color-main);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
/*========= main end ==========*/

/* ========footer begin======== */
.foot {
  background-color: var(--bg-color-first);
}
.foot-text {
  color: var(--logo-color-second);
  font-weight: 400;
}
/* ========footer end========== */
